<header class="header">
    <div class="inner-header container-layout">
            <div class="col-25">
                <a class="logo" routerLink="home">
                    Rule of Thumb.
                </a>
            </div>
            <div class="col-75">
                <ul class="menu">
                    <li class="menu-item"><a routerLink="/past-trials">Past Trials</a></li>
                    <li class="menu-item"><a routerLink="/how-it-works">How it works</a></li>
                    <li class="menu-item"><a>Log in/Sign Up</a></li>
                    <li class="menu-item"><a><i class="fas fa-search"></i></a></li>
                </ul>
            </div>
    </div>
</header>
