<footer class="footer">
    <div class="inner-footer container-layout">
        <div class="left-section">
            <ul class="options">
                <li class="option-item"><a>Terms and Conditions</a></li>
                <li class="option-item"><a>Privacy Policy</a></li>
                <li class="option-item"><a>Contact Us</a></li>
            </ul>
        </div>
        <div class="right-section">
            <span>Follow Us</span>
            <a class="icon-link"><i class="fab fa-facebook-square"></i></a>
            <a class="icon-link"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>