@import 'abstracts';

.message {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    background: colors('background-gray');
    padding: 10px;
    margin-top: 30px;

    .title {
        @include font(18px, auto);
        padding-bottom: 10px;

        .strong-text {
            @include font(30px, 32px, 600)
        }
    }

    .description {
        @include font(14px, 16px);
    }

    .close-icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.heading-1 {
    margin: 30px 0;
}

.candidates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.candidate {
    width: 100%;
    height: 400px;
    display: block;
    margin-bottom: 20px;
}

@include from-breakpoint('medium') {
    .candidate {
        width: 48%;
        height: 450px;
    }
}

@include from-breakpoint('large') {
    .message {
        flex-direction: row;
        padding: 20px;

        .title {
            flex: 2;
            padding-right: 15px;
            padding-bottom: 0;
        }

        .description {
            flex: 7;
        }

        .close-icon {
            position: static;
            flex: 1;
            text-align: right;
        }
    }

    .heading-1 {
        margin: 45px 0;
    }
}
