<div class="image" [ngStyle]="{'background-image': 'url(\'./../../../../assets/images/' + cardData.image + '\')'}">
    <div class="middle-container">
        <div class="left-container">
            <div class="icon-filled"
                [ngClass]="votingForm.value.vote ? 'vote-up': 'vote-down'">
                <ng-container
                    [ngTemplateOutlet]="votingForm.value.vote ? thumbUp : thumbDown">
                </ng-container>
            </div>
        </div>
        <div class="info">
            <div class="name">
                <span>{{cardData.name}}</span>
            </div>
            <div class="time-job">
                <span class="time">{{cardData.timeJob}}</span>
                <span> in </span>
                <span>{{cardData.timeArea}}</span>
            </div>
            <div *ngIf="!submitted && (userVotes === undefined || userVotes < 3)">
                <div class="description">
                    {{cardData.description}}
                </div>
                <form class="actions"
                    *ngIf="userVotes === 0 || (userVotes && userVotes < 3)"
                    [formGroup]="votingForm"
                    (ngSubmit)="voteNow()">
                    <label for="thumb-up-{{cardData.id}}">
                        <div class="vote-up icon-filled"
                            [ngClass]="{'checked': votingForm.value.vote === true}">
                            <input id="thumb-up-{{cardData.id}}"
                                name="vote"
                                formControlName="vote"
                                type="radio"
                                [value]="true">
                            <ng-container [ngTemplateOutlet]="thumbUp"></ng-container>
                        </div>
                    </label>
                    <label for="thumb-down-{{cardData.id}}">
                        <div class="vote-down icon-filled"
                            [ngClass]="{'checked': votingForm.value.vote === false}">
                            <input id="thumb-down-{{cardData.id}}"
                                name="vote"
                                formControlName="vote"
                                type="radio"
                                [value]="false">
                            <ng-container [ngTemplateOutlet]="thumbDown"></ng-container>
                        </div>
                    </label>
                    <button class="vote-now primary" type="submit">Vote now</button>
                </form>
            </div>
            <div *ngIf="submitted || (userVotes !== undefined && userVotes >= 3)">
                <div class="description">Thank you for voting!</div>
                <button *ngIf="userVotes && userVotes < 3"
                    class="vote-now primary"
                    (click)="voteAgain()">
                    Vote Again
                </button>
            </div>
        </div>
    </div>
    <div class="votes-percentage"
        *ngIf="getTotalVotes() > 0">
        <div class="votes-up"
            [ngStyle]="{'width': getWidth(cardData.votesUp)}">
            <ng-container [ngTemplateOutlet]="thumbUp"></ng-container>
            <span class="thumb-percentage">{{getWidth(cardData.votesUp)}}</span>
        </div>
        <div class="votes-down"
            [ngStyle]="{'width': getWidth(cardData.votesDown)}">
            <span class="thumb-percentage">{{getWidth(cardData.votesDown)}}</span>
            <ng-container [ngTemplateOutlet]="thumbDown"></ng-container>
        </div>
        

    </div>
    <ng-template #thumbDown>
        <i class="thumb-icon fas fa-thumbs-down"></i>
    </ng-template>
    <ng-template #thumbUp>
        <i class="thumb-icon fas fa-thumbs-up"></i>
    </ng-template>
</div>
