/**
 * variables.scss
 */
$header-height: 60px;

/**
 * Breakpoints variables
 */
$x-small: 480px;
$small: 568px;
$medium: 768px;
$large: 1200px;

$breakpoints: (
    x-small: (null, $x-small - 1),
    small: ($x-small, $small - 1),
    medium: ($small, $medium - 1),
    large: ($medium, $large - 1),
    x-large: ($large, null)
);

/**
 * Colors variables
 */

$colors: (
    'transparent': transparent,
    'background-gray': #ebebeb,
    'light-gray': rgba(123, 123, 123, 0.37),
    'background-empty-page': #f5f5fa,
    'green-solid': rgba(48, 158, 153, 1),
    'green': rgba(48, 158, 153, 0.6),
    'green-transparent': rgba(48, 158, 153, 0.2),
    'yellow': rgba(252, 178, 48, 0.82),
    'black': #000,
    'white': #fff,
    'red': rgba(224, 11, 11, 0.2)
);

/**
 * z-index variables
 */

$zindex: (
    'base': 1,
);
